__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
.env/

build/

*.egg-info/

htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/

.vscode/
.idea/
*.swp

.ipynb_checkpoints/

*.log

.DS_Store
Thumbs.db

generate_structure.py
cache/
commands.txt
dependencies.py
fc_test.py
folder_structure.py
test_regime_fc.ipynb
config.json

data/

*.xls
*.xlsx
*.xlsm
*.xlsb
claude_teams
settings.json
'result analysis.md'